<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="WelcomePage.css" />
</head>
<body>
    <h1>
        Welcome <%=name%> to the website
    </h1>
    <form action="list" method="get">
        <div style="display: flex; align-items:center;">
            <h2 style="font-size: 20px; margin-right: 10px;">To view all the users press the button</h2>
            <button>View</button>
        </div>
    </form>
   
</body>
</html>